.my-navbar{
    background-color: #17166D;
  }
  .my-navbar .nav-link {
    color: #ffffff !important;   
  }
  
  .my-navbar .nav-link:hover,
  .my-navbar .nav-link:focus {
    color: #FFC763 !important;   
  }
  
  .my-navbar .nav-link.active {
    color: #FFC763 !important;   
  }
  
  .navbar-brand {
    position: relative;
      z-index: 10;  
  
  }
  .navbar-brand img {
    position: absolute;
    left: 0;
    top: 15px;
    height: 150px;
      z-index: 20;  
  
  }
  
  .brand-text {
    padding-left: 165px;   
    display: inline-block; 
    font-size: 24pt;
  }
  
  .home-carousel img {
    height: 350px;          
    object-fit: contain;      
    object-position: center;
    background-color: #FFC763;
  }

  .footer {
    background-color: #FFC763;
    color: #000000;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    color: inherit;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .home-carousel img {
      height: 220px;        
    }
  }
  
  @media (max-width: 480px) {
    .home-carousel img {
      height: 160px;        
    }
  }