body{
    font-family: 'Montserrat', sans-serif;
}

.my-navbar{
    background-color: #17166D;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .my-navbar .nav-link {
    color: #ffffff !important;   
  }
  
  .my-navbar .nav-link:hover,
  .my-navbar .nav-link:focus {
    color: #FFC763 !important;   
  }
  
  .my-navbar .nav-link.active {
    color: #FFC763 !important;   
  }
  
  .navbar-brand {
    position: relative;
      z-index: 10;  
  
  }
  .navbar-brand img {
    position: absolute;
    left: 0;
    top: 15px;
    height: 150px;
      z-index: 20;  
  
  }
  
  .brand-text {
    padding-left: 165px;   
    display: inline-block; 
    font-size: 24pt;
  }
  
  .home-carousel img {
    height: 350px;
    width: 100%;      
    object-fit: cover;      
    object-position: bottom;
  }

  h1{
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  p{
    font-size: 1rem;
    font-weight: 400;
  }

  .footer {
    background-color: #FFC763;
    color: #000000;
    font-weight: 300;
    font-size: 
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    color: inherit;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .home-carousel img {
      height: 220px;        
    }
  }
  
  @media (max-width: 480px) {
    .home-carousel img {
      height: 160px;        
    }
  }